/* Table Container */
.tableContainer {
  width: 100%;
  overflow-x: auto;
  border-radius: 16px;
  border: 1px solid rgba(26, 26, 26, 0.1);
  min-height: 760px;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  table-layout: fixed; /* Ensures consistent column widths */

}

/* Table Header */
.table thead {
  background: #c7efff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table th {
  text-align: left;
  padding: 24px;
  font-weight: bold;
  height: 67px;
}

/* Table Rows */
.table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}
.table tbody tr:last-child {
  border-bottom: none;
}

.table td {
  padding: 24px;
  font-size: 16px;
  height: 67px;
  width: 182.86px;
}
/* Truncated Text  */
.truncatedText {
  max-width: 134.86px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table td img {
  margin: 0 5px;
  cursor: pointer;
}


/* Responsives */
@media (max-width: 768px) {
  .tableContainer {
    overflow-x: auto;
  }
  .table {
    min-width: 900px; 
  }

  .table td {
    height: auto;
    width: auto;
    padding: 12px;
    font-size: 14px;
    display: table-cell; /* Keeps original table layout */
  }


  .actionColumn {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 8px;
  }
}
